<!-- app/views/devise/registrations/new.html.erb -->

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  
  <!-- Email Field -->
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <!-- Password Field -->
  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <small class="form-text text-muted">
        (<%= @minimum_password_length %> characters minimum)
      </small>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <!-- Password Confirmation Field -->
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>

  <!-- Role Selection -->
  <div class="form-group">
    <%= f.label :role %>
    <%= f.select :role, User.roles.keys.map { |role| [role.titleize, role] }, { prompt: "Select Role" }, { class: 'form-control', id: 'user_role' } %>
  </div>

  <!-- Submit Button -->
  <div class="actions">
    <%= f.submit "Sign up", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<!-- Remove any JavaScript related to toggle team fields since they're no longer needed -->