<%= form_with(model: [@league, @match_report], local: true) do |form| %>
  <% if @match_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match_report.errors.count, "error") %> prohibited this match report from being saved:</h2>
      <ul>
        <% @match_report.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :home_team_goals, 'Home Team Goals' %><br>
    <%= form.number_field :home_team_goals %>
  </div>

  <div class="field">
    <%= form.label :away_team_goals, 'Away Team Goals' %><br>
    <%= form.number_field :away_team_goals %>
  </div>

  <div class="field">
    <%= form.label :report_details %><br>
    <%= form.text_area :report_details, rows: 5 %>
  </div>

  <div class="field">
    <%= form.label :notable_incidents %><br>
    <%= form.text_area :notable_incidents, rows: 5 %>
  </div>

  <!-- Nested Goals Fields -->
  <h3>Goals</h3>
  <%= form.fields_for :goals do |goal_form| %>
    <div class="nested-fields">
      <%= goal_form.label :player_id, 'Scorer' %>
      <%= goal_form.collection_select :player_id, Player.all, :id, :name, prompt: 'Select Player' %>

      <%= goal_form.label :assist_player_id, 'Assist' %>
      <%= goal_form.collection_select :assist_player_id, Player.all, :id, :name, include_blank: true %>

      <%= goal_form.label :minute %>
      <%= goal_form.number_field :minute %>

      <%= link_to 'Remove Goal', '#', class: 'remove_fields' %>
    </div>
  <% end %>
  <%= link_to 'Add Goal', '#', class: 'add_fields', data: { association: 'goals' } %>

  <!-- Nested Cards Fields -->
  <h3>Cards</h3>
  <%= form.fields_for :cards do |card_form| %>
    <div class="nested-fields">
      <%= card_form.label :player_id, 'Player' %>
      <%= card_form.collection_select :player_id, Player.all, :id, :name, prompt: 'Select Player' %>

      <%= card_form.label :card_type %>
      <%= card_form.select :card_type, [['Yellow', 'yellow'], ['Red', 'red']], prompt: 'Select Card Type' %>

      <%= card_form.label :minute %>
      <%= card_form.number_field :minute %>

      <%= link_to 'Remove Card', '#', class: 'remove_fields' %>
    </div>
  <% end %>
  <%= link_to 'Add Card', '#', class: 'add_fields', data: { association: 'cards' } %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>