<!-- app/views/dashboards/_dashboard_nav.html.erb -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand" href="<%= dashboard_path %>">Dashboard</a>
    
    <!-- Toggler for responsive collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dashboardNavbar" 
            aria-controls="dashboardNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="dashboardNavbar">
      <div class="w-100">
        <div class="row">
          <!-- Sidebar Column -->
          <div class="col-md-3">
            <div class="list-group">
              <% if current_user.admin? %>
                <h5 class="mt-3 mb-2">Admin Panel</h5>
                <%= link_to 'Manage Leagues', admin_leagues_path, class: 'list-group-item list-group-item-action' %>
                <%= link_to 'Manage Players', admin_players_path, class: 'list-group-item list-group-item-action' %>
                <%= link_to 'Manage Referees', admin_referees_path, class: 'list-group-item list-group-item-action' %>
                <%= link_to 'Manage Matches', admin_matches_path, class: 'list-group-item list-group-item-action' %>
                <%= link_to 'Manage Notifications', admin_notifications_path, class: 'list-group-item list-group-item-action' %>
              <% end %>

              <% if current_user.team? %>
                <h5 class="mt-4 mb-2">Team Panel</h5>
                <%= link_to 'Your Players', team_players_path, class: 'list-group-item list-group-item-action' %>
                <%= link_to 'Your Matches', team_matches_path, class: 'list-group-item list-group-item-action' %>
                <%= link_to 'Your Profile', team_profiles_path(current_user.team_id), class: 'list-group-item list-group-item-action' %>
                <%= link_to 'Player Statistics', team_stats_path, class: 'list-group-item list-group-item-action' %>
              <% end %>

              <% if current_user.referee? %>
                <h5 class="mt-4 mb-2">Referee Panel</h5>
                <%= link_to 'Manage Matches', referee_matches_path, class: 'list-group-item list-group-item-action' %>
                <%= link_to 'Match History', referee_history_path, class: 'list-group-item list-group-item-action' %>
                
              <% end %>
            </div>
          </div>

          <!-- Main Content Column -->
          <div class="col-md-9">
            <ul class="navbar-nav ml-auto">
              <!-- Authentication Links -->
              <div class="mt-4">
                <% if user_signed_in? %>
                  <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger btn-block', form: { class: 'd-inline' } %>
                <% else %>
                  <%= link_to 'Login', new_user_session_path, class: 'btn btn-outline-primary btn-block' %>
                  <%= link_to 'Register', new_user_registration_path, class: 'btn btn-outline-success btn-block mt-2' %>
                <% end %>
              </div>
            </ul>

            <!-- Optional: Additional Dashboard Content -->
            <div class="mt-4">
              <!-- Your main dashboard content can go here -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>