<div class="container-fluid">
  <div class="row">

    <div class="col-md-9">
      <div class="dashboard-content">
        <h1>Welcome, <%= current_user.name %>!</h1>

        <% if current_user.admin? %>
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4">
                <div class="card-header">Leagues</div>
                <div class="card-body">
                  <%= link_to 'View All', admin_leagues_path %> | 
                  <%= link_to 'Create New', new_admin_league_path %>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4">
                <div class="card-header">Teams</div>
                <div class="card-body">
                  <%= link_to 'View All', admin_teams_path %> | 
                  <%= link_to 'Create New', new_admin_team_path %>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4">
                <div class="card-header">Matches</div>
                <div class="card-body">
                  <%= link_to 'View All', admin_matches_path %> | 
                  <%= link_to 'Create New', new_admin_match_path %>
                </div>
              </div>
            </div>
          </div> 
        <% end %>

        <% if current_user.team? %>
          <h2>Team Dashboard</h2>
          <div class="row">
            <div class="col-md-6">
              <div class="card mb-4">
                <div class="card-header">Upcoming Matches</div>
                <div class="card-body">
                  <% if @team_matches.any? %>
                    <ul>
                      <% @team_matches.each do |match| %>
                        <li><%= link_to match.name, team_match_path(match) %></li> 
                      <% end %>
                    </ul>
                  <% else %>
                    <p>No upcoming matches.</p>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card mb-4">
                <div class="card-header">Player Stats</div>
                <div class="card-body">
                  <%= link_to 'View Player Stats', team_stats_path %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <% if current_user.referee? %>
          <h2>Referee Dashboard</h2>
          <p>Upcoming Matches, Recent Reports, etc.</p> 
        <% end %>

      </div> 
    </div> 
  </div> 
</div>